.div-home {
  color: rgb(0, 0, 0);

  margin-bottom: 10px;
}

.div-bus {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.div-cr {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.div-pol {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.div-sp {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
.div-film {
  color: rgb(0, 0, 0);
  margin-bottom: 10px;
}
