.cont {
  width: 900px;
  max-width: calc(100% - 20px);
  margin: 0 auto;
  padding: 0 10px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  object-fit: cover;
  transition: transform 0.8s ease;
  background-color: rgb(255, 255, 255);
  padding-bottom: 5px;
}
.img {
  width: 100%;
  
}

.cont:hover {
  transform: scale(1.05);
}
.div-text1 {
  color: black;
  text-decoration: none;
  font-size: 25px;
  text-decoration: underline;
}
.div-text2 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
  margin-bottom: 10px;
}
.text-a:hover {
  color: red;
}


